@import "../styles/variables.scss";


.dashboard{
    &_home{
    display: flex;
    padding: 10px;
        &_posts{
            flex: 0.7;
            
        }
        &_rightsection{
            flex: 0.3;
        }
    }
}
.createPost{
    display: flex;
    justify-content: space-around;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    
    &_link{
        text-decoration: none;
        color: $color-white;

    }
}

