@import "../src/components/styles/variables.scss";

body {
    margin: 0;
    background: url('./images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.App{
    height: 100vh;
}